<section class="band">
    
    <!-- <p class="lede">Due to the nature of my role and work conducted at Civica and previous roles means that many of the projects I've worked on since 2014 I can't publicly shared therefore only a very limited selection projects are shown in this portfolio.</p> -->

    <div class="cs-item">
      <div class="cs__image cs__image--assets">
        <a href="/casestudy/assets/" alt=""><img src="images/cs-assets.png" alt=""></a>
      </div>
      <div class="cs__meta">
        <span class="cs__date">Jan 2020</span>
        <h2 class="cs__title">
          <a href="/casestudy/assets/">Codefi Assets</a>
        </h2>
        <p class="cs__description">Create, issue, and manage the lifecycle of digital assets, associated markets, and digital financial instruments on public or permissioned blockchain networks.</p>
        <a href="/casestudy/assets/" class="cs__cta">Read more</a>
      </div>
    </div>

    <div class="cs-item">
      <div class="cs__image cs__image--komgo">
        <a href="/casestudy/komgo/" alt=""><img src="images/cs-komgo.png" alt=""></a>
      </div>
      <div class="cs__meta">
        <span class="cs__date">May 2019</span>
        <h2 class="cs__title">
          <a href="/casestudy/komgo/">komgo</a>
        </h2>
        <p class="cs__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste tempore, quidem voluptatibus iure ipsa, cumque debitis explicabo nesciunt facere labore esse maiores quibusdam ut, qui! Labore ipsam facere atque repellendus.</p>
        <a href="/casestudy/solicitors-regulation-authority/" class="cs__cta">Read more</a>
      </div>
    </div>

    <div class="cs-item">
      <div class="cs__image cs__image--sra">
        <a href="/casestudy/solicitors-regulation-authority/" alt=""><img src="images/cs-sra.png" alt=""></a>
      </div>
      <div class="cs__meta">
        <span class="cs__date">Nov 2018</span>
        <h2 class="cs__title">
          <a href="/casestudy/solicitors-regulation-authority/">Solicitors Regulation Authority</a>
        </h2>
        <p class="cs__description">A redesign of the Solicitors Regulation Authority's website to reduce the number of support requests.</p>
        <a href="/casestudy/solicitors-regulation-authority/" class="cs__cta">Read more</a>
      </div>
    </div>

    <div class="cs-item">
      <div class="cs__image cs__image--integration">
        <a href="/casestudy/streamlining-an-integration-process/" alt=""><img src="images/cs-inter.png" alt=""></a>
      </div>
      <div class="cs__meta">
        <span class="cs__date">Jun 2017</span>
        <h2 class="cs__title">
          <a href="/casestudy/streamlining-an-integration-process/">Streamlining an integration process</a>
        </h2>
        <p class="cs__description">Redesigning the process of to reduce the amount of time it takes to intergrate e-commerce personlisation products with our clients online stores.</p>
        <a href="/casestudy/streamlining-an-integration-process/" class="cs__cta">Read more</a>
      </div>
    </div>

    <!-- <div class="cs-item">
      <div class="cs__image cs__image--metrics">
        <a href="/casestudy/integration-statictics-dashboard/" alt=""><img src="images/cs-metrics.png" alt=""></a>
      </div>
      <div class="cs__meta">
        <span class="cs__date">Jun 2017</span>
        <h2 class="cs__title">
          <a href="/casestudy/integration-statictics-dashboard/">Integration statistics dashboard</a>
        </h2>
        <p class="cs__description">A dashboard to provide upper management and project managers the required metrics and information regarding client integrations.</p>
        <a href="/casestudy/integration-statictics-dashboard/" class="cs__cta">Read more</a>
      </div>
    </div> -->

</section>
