<footer class="band band--dark page-foot" id="contact">

  <div class="o-wrapper">

    <p>Like what you see?<br>
      {% if page.url == '/about/' %}
        See some of my <a href="/">work</a>
      {% else %}
        Learn more <a href="/about/">about me</a>
      {% endif %}, or contact me below</p>
    <a class="page-foot__cta fancy-link" href="mailto:chris@chrisbarnes.co" target="_top">chris@chrisbarnes.co</a>
    <!-- <ul class="social-list">
      <li><a href="">Twitter</a></li>
      <li><a href="">Behance</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Linkedin</a></li>
    </ul> -->

  </div>

</footer>