<div class="o-wrapper">
  <footer class="page-foot" id="contact">
    
    <h2>Let's chat</h2>
    <a class="page-foot__cta" href="mailto:chris@chrisbarnes.co" target="_top">chris@chrisbarnes.co</a>
    
    <p>Or if these are more your jam → <a href="https://dribbble.com/chrisbarnes" class="social-cta" target="_blank">Dribbble</a> / <a href="https://www.instagram.com/cjhbarnes/" class="social-cta" target="_blank">Instagram</a> / <a href="https://www.linkedin.com/in/cjhbarnes" class="social-cta" target="_blank">Linkedin</a></p>

  </footer>
</div>
