///*----------------------------------*\
//  #GLOBAL
//\*----------------------------------*/

// Project-level settings and setup.

// Base typographical styles and baseline grid.
$global-font-size:    18px !default;
$global-line-height:  30px !default;

// Standardise some UI treatments.
$global-radius:       3px !default;
$global-transition:   0.333333333s !default;

$global-spacing-unit:       8px;