// ==========================================================================
// COLOR SETTINGS
// ==========================================================================
// Set up a colour palette which allows us to theme the entire project from
// one location.


// Colour palette
$color-brand-primary:               #005EA5 !default;
$color-brand-primary-highlight:     lighten($color-brand-primary, 5%) !default;
$color-brand-primary-shadow:        darken($color-brand-primary,  5%) !default;

$color-ui:                          #CFD7DF !default;

$color-white:                       #fff !default;

$color-grey-light:                  #B3B4B4;





// Reassign literal variables to meaningful ones.
$color-page-text:                       #2f353e;
$color-page-text-light:                 #7A7A7A;
$color-page-border:                     #EBEBEB;
$color-page-background:                 #EFF3F6;

$color-links:                           $color-page-text;
$color-links-hover:                     lighten($color-page-text, 15%);
$color-link-border:                     #1A71EA;

$color-pre-background:                  $color-page-text;
