// ==========================================================================
// LINKS
// ==========================================================================
// Default styles for simple hyperlinks.


a {
  color: $color-links;
  @include transition(color .5s ease);

  &:hover {
    color: $color-links-hover;
  }

}

.fancy-link {
  text-decoration: none;
  padding-bottom: 2px;
  position: relative;

  &:hover {
    &:after {
      width: 100%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    border-bottom: 4px solid $color-link-border;
    transition: 0.3s ease;
    margin-top: 4px;
  }
}
