/* ==========================================================================
   LINKS
   ========================================================================== */

/**
 * Default styles for simple hyperlinks.
 */

a {
  color: $color-links;
  text-decoration: none;
  @include transition(color .5s ease);

  &:hover {
    color: darken($color-links, 10%);
  }

}

.fancy-link {
  position: relative;

  &:hover {
    &:after {
      width: 100%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    border-bottom: 4px solid darken($color-links, 10%);
    transition: 0.5s ease;
    margin-top: 4px;
  }

}