/* ==========================================================================
   ABOUT
   ========================================================================== */

.page--about {
  h2 {
    margin-top: $global-spacing-unit * 8;
  }
}

.cv-cta {
  @include font-size(22px);
  font-family: $font-family;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  line-height: 1;
  
    &:hover {
      &:before {
        opacity: .8;
      }
    }

    &:before {
      content: '';
      height: 40%;
      background: #c2e065;
      width: 100%;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      opacity: .4;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
    }
}

.cv-cta--light {
  color: #7A7A7A;
}
