/* ==========================================================================
   BANDS
   ========================================================================== */

.band {
  padding: $global-spacing-unit * 5 0;
}

.band--top {
  padding-top: $global-spacing-unit * 6;
}

.band--no-top {
  padding-top: 0;
}

.band--light {
	background-color: #F0F0F2;
}
