/* ==========================================================================
   BANDS
   ========================================================================== */

.band {
  padding-top: $global-spacing-unit * 10;
  padding-bottom: $global-spacing-unit * 10;

  @include mq($until: md) {
    padding-top: $global-spacing-unit * 6;
    padding-bottom: $global-spacing-unit * 6;
  }
}





.band--tint {
  background-color: $color-page-background;
  margin-right: 0;
  margin-left:  0;
}


.band--dark {
  background-color: $color-page-text;
  margin-right: 0;
  margin-left:  0;
}

.band--tint,
.band--dark {
  @include mq($from: md) {
    margin-right: $global-spacing-unit * 6;
    margin-left: $global-spacing-unit * 6;
  }
}