/* ==========================================================================
   BANDS
   ========================================================================== */

.band {
  padding: $global-spacing-unit * 10 0;
}

.band--top {
  padding-top: $global-spacing-unit * 6;
}

.band--no-top {
  padding-top: 0;
}
