/* ==========================================================================
   CASE STUDY
   ========================================================================== */

.image--masthead {
  margin-top: $global-spacing-unit * 10;
  margin-bottom: $global-spacing-unit * 10;

  @include mq($until: md) {
    margin-top: $global-spacing-unit * 6;
    margin-bottom: $global-spacing-unit * 6;
  }
}

.case-study__sub {
  margin-bottom: $global-spacing-unit * 3;

  @include mq($until: md) {
    margin-bottom: $global-spacing-unit * 6;

    h4 {
      margin-top: 0;
    }
  }

}

.case-study-right {
  border-top: 4px solid $color-page-border;
  padding-top: $global-spacing-unit * 3;

  @include mq($until: md) {
    border-top: none;
  }

  p {
    @include font-size(16px);
  }
}

.case-study-left {
  background-color: #F2F2F2;
}

.case-study__prototype {
  margin: 0 auto;
  display: block;
}