/* ==========================================================================
   IMAGE GRID
   ========================================================================== */

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @include cb-rem(margin-top, $global-spacing-unit*5);

  @include mq($until: small) {
    display: block;
  }
}

.grid--top-algin {
  align-items: flex-start;
}

.grid--stretch {
  align-items: stretch;
  align-content: center;
}

.grid__item--dark {
  background: #222;
}

.stat {
  color: #fff;
  padding: $global-spacing-unit*5 0;
  width: 80%;
  margin: 0 auto;
  font-family: $font-family;
  @include font-size(18px);
  line-height: 1;
  font-weight: 400;

    span {
      font-weight: 900;
      @include font-size(20px);
    }
}

.u-2\/5 {
  width: calc(40% - 30px);
  border-top: 3px solid $color-page-border;

    em {
      color: lighten($color-page-text, 15%);
      @include font-size(14px);
    }

    @include mq($until: small) {
      width: 100%;
      border-top: none;
    }
}
.u-3\/5 {
  width: calc(60%);

  @include mq($until: small) {
    width: 100%;
  }
}

.u-1\/5 {
  width: calc(20% - 30px);
  border-top: 3px solid $color-page-border;

    em {
      color: lighten($color-page-text, 15%);
      @include font-size(14px);
    }
  // @include cb-rem(padding-top, $global-spacing-unit * 3)

  @include mq($until: small) {
    width: 100%;
    border-top: none;
  }
}
.u-4\/5 {
  width: calc(80%);

  @include mq($until: small) {
    width: 100%;
  }
}

.grid__item {
  margin-bottom: $global-spacing-unit * 7;
}

.by-2 {
  .grid__item {
    width: calc(50% - 20px);

    @include mq($until: small) {
      width: 100%;
    }
  }
}

.by-3 {
  .grid__item {
    width: calc(33% - 20px);

    @include mq($until: small) {
      width: 100%;
    }
  }
}

.full-image {
  margin: 0 5%;
  width: 90%;
  text-align: center;

  @include mq($from: md) {
    min-height: 500px;
  }
}

.cs-post-img {
  @include cb-rem(margin-bottom, $global-spacing-unit * 5);
}


