/* ==========================================================================
   PAGE TITLE
   ========================================================================== */

.text-light {
  color: $color-page-text-light;
}

.animated {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-masthead {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.page-title {
  h1 {
    text-transform: uppercase;
    @include font-size(80px);
    font-weight: 900;
  }
}

.page-title--home {
  border-bottom: 1px solid $color-page-border;
  h1 {
    @include font-size(40px);
    font-weight: 700;
    text-transform: none;
  }
}

.page-title--post {
  &.band {
    @include cb-rem(padding-bottom, $global-spacing-unit*8);
  }
  margin-bottom: 0;
  h1 {
    margin-bottom: 0;
    @include font-size(48px);
    text-transform: none;
  }

  .subscript {
    text-align: left;
    font-family: $font-family;
    @include font-size(16px);
    font-weight: 400;
    color: #a5b3be;
  }
}
